body {
	background-color: #474B4F !important;
  /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);*/
  /*  background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);*/
  /*  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);*/
  color: grey;
  /*background-image: linear-gradient(-20deg, #4e4376 0%, #2b5876 100%);*/
	font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
	scroll-behavior: smooth;
	/*color: #121F40 !important;*/
  color: white !important;
}
.main_container {
  padding-top: 40px;
}

.card-text, .card-title {
  color: grey;
}

.card {
  margin: 20px;
}

 .list-group-item {
   background-color: #474B4F !important;
 }
